//
//  Secrets.xcconfig
//  KinoTaste
//
//  Created by Boxiang Shan on 2026/1/15.
//

// Configuration settings file format documentation can be found at:
// https://developer.apple.com/documentation/xcode/adding-a-build-configuration-file-to-your-project
// Secrets.xcconfig
TMDB_API_KEY = b8b948c05d8b5b1e760f070e74050b88
